



<style>


body, html {
margin: 0;
font-family: arial;
height: ;
/*user-select: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;*/}
.post-body{padding-top:0;overflow-y:scroll;}
.entry-title,.post-snip,#breadcrumb{display:none !important;}
#Ritesh_window .test-btn,#Ritesh_window .test-general2,#Ritesh_window .test-general{display:inline-block;font-weight:400;color:#212529;text-align:center;vertical-align:middle;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;background-color:transparent;border:1px solid transparent;padding:.375rem .75rem;font-size:1rem;line-height:1.5;border-radius:.25rem;transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out}@media (prefers-reduced-motion:reduce){.test-btn{transition:none}}.test-btn:hover{color:#212529;text-decoration:none}.test-btn.focus,.test-btn:focus{outline:0;box-shadow:0 0 0 .2rem rgba(0,123,255,.25)}
#Ritesh_window .btn-success{color:#fff;background-color:#28a745;border-color:#28a745}#Ritesh_window .btn-success:hover{color:#fff;background-color:#218838;border-color:#1e7e34}#Ritesh_window .btn-success.focus,#Ritesh_window .btn-success:focus{color:#fff;background-color:#218838;border-color:#1e7e34;box-shadow:0 0 0 .2rem rgba(72,180,97,.5)}
#Ritesh_window .btn-info{color:#fff;background-color:#17a2b8;border-color:#17a2b8}#Ritesh_window .btn-info:hover{color:#fff;background-color:#138496;border-color:#117a8b}#Ritesh_window .btn-info.focus,#Ritesh_window .btn-info:focus{color:#fff;background-color:#138496;border-color:#117a8b;box-shadow:0 0 0 .2rem rgba(58,176,195,.5)}
#Ritesh_window .btn-warning{color:#212529;background-color:#ffc107;border-color:#ffc107}#Ritesh_window .btn-warning:hover{color:#212529;background-color:#e0a800;border-color:#d39e00}#Ritesh_window .btn-warning.focus,#Ritesh_window .btn-warning:focus{color:#212529;background-color:#e0a800;border-color:#d39e00;box-shadow:0 0 0 .2rem rgba(222,170,12,.5)}
#Ritesh_window .btn-primary{color:#fff;background-color:#007bff;border-color:#007bff}#Ritesh_window .btn-primary:hover{color:#fff;background-color:#0069d9;border-color:#0062cc}#Ritesh_window .btn-primary.focus,#Ritesh_window .btn-primary:focus{color:#fff;background-color:#0069d9;border-color:#0062cc;box-shadow:0 0 0 .2rem rgba(38,143,255,.5)}
#Ritesh_window .btn-secondary{color:#fff;background-color:#6c757d;border-color:#6c757d}#Ritesh_window .btn-secondary:hover{color:#fff;background-color:#5a6268;border-color:#545b62}#Ritesh_window .btn-secondary.focus,#Ritesh_window .btn-secondary:focus{color:#fff;background-color:#5a6268;border-color:#545b62;box-shadow:0 0 0 .2rem rgba(130,138,145,.5)}
#Ritesh_window .btn-danger{color:#fff;background-color:#dc3545;border-color:#dc3545}#Ritesh_window .btn-danger:hover{color:#fff;background-color:#c82333;border-color:#bd2130}#Ritesh_window .btn-danger.focus,#Ritesh_window .btn-danger:focus{color:#fff;background-color:#c82333;border-color:#bd2130;box-shadow:0 0 0 .2rem rgba(225,83,97,.5)}
#Ritesh_window .test-general2,#Ritesh_window .test-general{background;#389B10;border:1px solid #111;padding:5px;margin:5px;}
#Ritesh_window #section-title-name-down {text-transform:uppercase;background:#b4daed;font-weight:bold;text-align:left;display:block;margin: 5px 0;padding:5px;border:none;box-sizing:border-box;}
#Ritesh_window #showctrp{font-weight:normal;background:#389B10;border:none;padding:0.5px 2px ;border-radius:3px;color:#fff;margin-bottom:3px;}
#Ritesh_window .quantitative-part-activated{background-color:#ff6600;background:#ff6600;}
#Ritesh_window .english-part-activated{background-color:#ff6600;background:#ff6600;}
#Ritesh_window .computer-part-activated{background-color:#ff6600;background:#ff6600;}
#Ritesh_window .ga-part-activated{background-color:#ff6600;background:#ff6600;}
#Ritesh_window .reasoning-part-activated{background-color:#ff6600;background:#ff6600;}
#Ritesh_window .view-all-part-activated{background-color:#ff6600;background:#ff6600;}
#Ritesh_window .view-all-part-nt,.english-part-nt,.reasoning-part-nt,.quantitative-part-nt,.computer-part-nt,.ga-part-nt{background-color:#ddd;background:#ddd;}
#Ritesh_window #english-part {text-overflow: ellipsis;}
/*instructions*/
#Ritesh_window #instruction-wrapper {border:none;margin:5px;padding:6px;}
#Ritesh_window #instruction-wrapper button {margin:5px;}
#Ritesh_window #instruction-main-heading
{
 background-color:#ffeada;
padding:5px;
 }
#Ritesh_window  .modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 70px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
#Ritesh_window .modal-content {
  position:relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  height:75%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-250px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-250px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
#Ritesh_window .close {
border-radius:10px;
  color: #fff;
  float: right;
  font-size: 20px;
  font-weight: bold;
}

#Ritesh_window .close:hover,
#Ritesh_window .close:focus {
  color: #111;
  text-decoration: none;
  cursor: pointer;
}

#Ritesh_window .modal-header {
text-align:center;
  padding: 2px 16px;
  background-color: #ff6600;
  color: white;
}

#Ritesh_window .modal-body {padding:6px;}

#Ritesh_window .modal-footer {
  padding: 2px 16px;
  background-color:#ff6600;
  color: white;
}
#Ritesh_window .contact-form-name:hover,#Ritesh_window .contact-form-name:focus,#Ritesh_window .contact-form-email:hover,#Ritesh_window .contact-form-email:focus,#Ritesh_window .contact-form-email-message:hover,#Ritesh_window .contact-form-email-message:focus{border:1px solid #ff6600 !important;}
#Ritesh_window .contact-form-widget{position:relative;margin-left:auto;margin-right:auto;padding:5px;width:90%;border-radius:5px;padding:4px }.contactf-name,.contactf-email{width:100%;}.contactf-name{margin-right:3.5%}.contact-form-name,.contact-form-email,.contact-form-email-message,.contact-form-name:hover,.contact-form-name:focus,.contact-form-email:hover,.contact-form-email:focus,.contact-form-email-message:hover,.contact-form-email-message:focus{border:1px solid #ff6600;outline:none;width:100%;margin:0 0 20px;padding:10px 15px;font-size:12px;letter-spacing:1px;color:#444;background:#F3F3F3;border:medium none;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none}.contact-form-name,.contact-form-email{height:37px}.contact-form-email-message{height:170px}.contact-form-button-submit,.contact-form-button-submit:hover{width:30%;height:30px;font:normal 12px Arial;letter-spacing:1px;color:#444;display:block;outline:none;margin-bottom:20px;text-align:center;background:#E6E6E6;border:0;cursor:pointer}.contact-form-button-submit:active{outline:none;-webkit-box-shadow:none;box-shadow:none}.contact-form-cross{border:medium none!important;box-shadow:none!important;padding:0!important;height:11px !important;width:11px !important;}
#Ritesh_window .test-rgl-padding{padding:5px;}
#Ritesh_window  #instruction-subheading{padding:5px;background:#ffeada;}
#Ritesh_window #instruction-accept-checkbox {
border-top:1px solid #111;
  border-bottom:1px solid #111;
padding:7px;
text-align:justify;

}
#Ritesh_window #instruction-go-p2-button{border-top:1px solid #bbb;}
#Ritesh_window .test-rgl-padding ul{list-style-type:decimal;}
#Ritesh_window #stbtn {margin:5px;}

/*instruction*/

#Ritesh_window .test-general2 {
text-align: left;
height:28px;
width:150px;
text-align: center;
background-color: #ddd;
display: inline-block;
padding:0.2% 0.1% 0.2% 0.1%;
color:#111;
font-family: verdana,helvetica,sans-serif;
font-size:16px;
border:px solid #A9D0F5;
float:left;
margin-right:0.7%;
}


#Ritesh_window .test-img-button.answered,#Ritesh_window #Ritesh_window .dark .post-body .test-img-button.answered{
background: url("https://4.bp.blogspot.com/-Sz8u9vSINxg/WpvyyOnAdbI/AAAAAAAAGKY/se5UlXElpZoKD-ov17oE9baLx2p8eYqawCLcBGAs/s1600/questions-sprite.9c687b463bdf.png") no-repeat ;
background-position: -7px -55px;
float: left;
height: 26px;
line-height: 20px;
margin-right: 10px;
width: 29px;
color: #fff;
}

#Ritesh_window .test-img-button.review,#Ritesh_window .dark .post-body .test-img-button.review {
background: url("https://4.bp.blogspot.com/-Sz8u9vSINxg/WpvyyOnAdbI/AAAAAAAAGKY/se5UlXElpZoKD-ov17oE9baLx2p8eYqawCLcBGAs/s1600/questions-sprite.9c687b463bdf.png") no-repeat;
background-position: -75px -54px;
float: left;
height:29;
line-height: 20px;
margin-right: 10px;
width: 29px;
color: #fff;
line-height:11px;
}

#Ritesh_window .test-img-button.review-marked,#Ritesh_window .dark .post-body .test-img-button.review-marked {
background: url("https://4.bp.blogspot.com/-Sz8u9vSINxg/WpvyyOnAdbI/AAAAAAAAGKY/se5UlXElpZoKD-ov17oE9baLx2p8eYqawCLcBGAs/s1600/questions-sprite.9c687b463bdf.png") no-repeat;
background-position: -172px -55px;
float: left;
height: 29px;
line-height: 20px;
margin-right: 10px;
width: 29px;
color: #fff;
}
#Ritesh_window .test-img-button.not-answered,#Ritesh_window .dark .post-body .test-img-button.not-answered {
background: url("https://4.bp.blogspot.com/-Sz8u9vSINxg/WpvyyOnAdbI/AAAAAAAAGKY/se5UlXElpZoKD-ov17oE9baLx2p8eYqawCLcBGAs/s1600/questions-sprite.9c687b463bdf.png") no-repeat;
background-position: -42px -56px;
float: left;
height: 26px;
line-height: 20px;
margin-right: 10px;
width: 29px;
color: #fff;
}
#Ritesh_window .test-img-button.not-visited,#Ritesh_window .dark .post-body .test-img-button.not-visited {
background: url("https://4.bp.blogspot.com/-Sz8u9vSINxg/WpvyyOnAdbI/AAAAAAAAGKY/se5UlXElpZoKD-ov17oE9baLx2p8eYqawCLcBGAs/s1600/questions-sprite.9c687b463bdf.png") no-repeat;
background-position: -106px -56px;
float: left;
height: 29px;
line-height: 20px;
margin-right: 10px;
width: 29px;
color: #111;
}


#Ritesh_window .test-img-button{
text-align: center;
font-family: Arial, Helvetica, sans-serif;
font-size:13px;
border-radius:5px;
}


#Ritesh_window .answeredButton{  



background: url("https://4.bp.blogspot.com/-Sz8u9vSINxg/WpvyyOnAdbI/AAAAAAAAGKY/se5UlXElpZoKD-ov17oE9baLx2p8eYqawCLcBGAs/s1600/questions-sprite.9c687b463bdf.png") no-repeat;
background-position: -8px -55px;
color: #262626;
line-height: 26px;
text-align: center;
font-family: Arial, Helvetica, sans-serif;
font-size: 0.6em;
float: left;
height: 26px;
line-height: 20px;
margin-right: 10px;
width: 29px;
color: #fff;
padding-top: 2px;
}




#Ritesh_window .notVisited{

background: url("https://4.bp.blogspot.com/-Sz8u9vSINxg/WpvyyOnAdbI/AAAAAAAAGKY/se5UlXElpZoKD-ov17oE9baLx2p8eYqawCLcBGAs/s1600/questions-sprite.9c687b463bdf.png") no-repeat;
background-position: -106px -56px;
color: #262626;
line-height: 26px;
text-align: center;
font-family: Arial, Helvetica, sans-serif;
font-size: 0.6em;
float: left;
height: 26px;
line-height: 21px;
margin-right: 10px;
width: 29px;
color: #000;
padding-top: 2px;



}




#Ritesh_window .notAnswered {

background: url("https://4.bp.blogspot.com/-Sz8u9vSINxg/WpvyyOnAdbI/AAAAAAAAGKY/se5UlXElpZoKD-ov17oE9baLx2p8eYqawCLcBGAs/s1600/questions-sprite.9c687b463bdf.png") no-repeat;
background-position: -43px -56px;
color: #262626;
line-height: 26px;
text-align: center;
font-family: Arial, Helvetica, sans-serif;
font-size: 0.6em;
float: left;
height: 26px;
line-height:21px;
margin-right: 10px;
width: 29px;
color: #fff;
padding-top: 2px;

}
#Ritesh_window .review{
background: url("https://4.bp.blogspot.com/-Sz8u9vSINxg/WpvyyOnAdbI/AAAAAAAAGKY/se5UlXElpZoKD-ov17oE9baLx2p8eYqawCLcBGAs/s1600/questions-sprite.9c687b463bdf.png") no-repeat;
background-position: -75px -54px;
color: #262626;
line-height: 26px;
text-align: center;
font-family: Arial, Helvetica, sans-serif;
font-size: 0.6em;
float: left;
height: 26px;
line-height: 15px;
margin-right: 10px;
width: 28px;
color: #fff;
padding-top: 5px;

}

#Ritesh_window .markReview{

background: url("https://4.bp.blogspot.com/-Sz8u9vSINxg/WpvyyOnAdbI/AAAAAAAAGKY/se5UlXElpZoKD-ov17oE9baLx2p8eYqawCLcBGAs/s1600/questions-sprite.9c687b463bdf.png") no-repeat;
background-position: -172px -55px;
color: #262626;
line-height: 26px;
text-align: center;
font-family: Arial, Helvetica, sans-serif;
font-size: 0.6em;
float: left;
height: 26px;
line-height: 15px;
margin-right: 10px;
width: 30px;
color: #fff;
padding-top: 5px;}
#Ritesh_window .palette #button-section-change,#Ritesh_window #button-control-section,#Ritesh_window #according_status_button{
width:100%;
display:flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
border:none;margin-top:10px;
 }
 #Ritesh_window #button-control-section label{border:1px solid #111 !important;color:#111;font-size:normal;}
#Ritesh_window .palette button,#Ritesh_window #button-control-section button,#Ritesh_window #button-control-section label,#Ritesh_window #according_status_button button{
font-size:18px;
border-width:1px;
display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: row;
 width:45%;
 height:30px;font-size:normal;
 position: ;
 border-radius: 2px;
 box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
 text-align: center;
 margin:5px;
 padding:4px;
 transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
#Ritesh_window .icon-close-open-pallate,#Ritesh_window #icon-close-open-pallate{background-color:#ff6600;color:#fff;border-radius:5px;padding:1px 5px;border:2px solid #123}
#Ritesh_window #icon-close-open-pallate i{} 
#Ritesh_window .test-section1.selected{
background:#ff6600;
color: #fff;
}

#Ritesh_window .test-section1.disabled{
background: #dddddd;
}

#Ritesh_window .test-section1.enabled{
cursor: pointer;
}



#Ritesh_window .test-btn-clr.white:hover {
background-color: #0c7cd5;
border: 1px solid #333;
color: #ffffff;
}

#Ritesh_window .test-btn-clr.blue {
background-color: #0c7cd5;
color: #ffffff;
}

#Ritesh_window .test-btn-clr.primary-blue {
background-color: #38aae9;
border-color: #38aae9;
color: #ffffff;
}

#Ritesh_window .test-btn-clr.primary-blue:hover {
border: 1px solid #333;
color: #ffffff;
}

#Ritesh_window .test-btn-clr.blue:hover {
border: 1px solid #333;
color: #ffffff;
}

#Ritesh_window .test-btn-clr.white:hover {
background-color: #0c7cd5;
border: 1px solid #333;
color: #ffffff;
}


/*desktop*/
#Ritesh_window #test-top-head {
border-top:1px solid #111;
display:block;
padding:4px 5px;
width:100%; margin-top:4px;/*The width is 100%, when the viewport is 800px or smaller*/
}
#Ritesh_window #test-top-head  button{
display:inline-block;
margin:auto;border-radius:3px;
border:none;
outline:none;
padding:5px;
width:;/*The width is 100%, when the viewport is 800px or smaller*/
}
#Ritesh_window .timer-time-bg {height:auto;font-weight:bold;background-color:transparent;color:#111;}
#Ritesh_window #test-details-data-entry table,#Ritesh_window #test-details-data-entry td{border:1px solid #ff6600;padding:2px 5px;border-collapse:collapse;width:90%}
#Ritesh_window #test-details-data-entry td{text-align:center;width:50%;padding:5px;}
#Ritesh_window #test-details-data-entry td:nth-child(1){font-weight:bold;}
#Ritesh_window #note_user{padding:5px;margin-top;10px;border-bottom:1px solid #111;border-top:1px solid #111;}
#Ritesh_window #positive-marks,#Ritesh_window #negative-marks{font-size:small;color:#fff;font-weight:bold;border-radius:5px;padding:3px;margin:3px;}
#Ritesh_window #positive-marks{background:#389B10 !important;}
#Ritesh_window #negative-marks{background:red !important;}
#Ritesh_window #main-dtl-test{text-align:center;padding:4px;border-top:none;border-bottom:1px solid #111;margin-bottom:5px;}
#Ritesh_window #main-dtl-test table td{text-align:center !important;font-weight:bold;}
#Ritesh_window #main-dtl-test table,#Ritesh_window #main-dtl-test td{border:none;}
#Ritesh_window #main-dtl-test table td:nth-child(2){width:40%;}
#Ritesh_window #main-dtl-test table{width:95%}
#Ritesh_window #time-rmt{font-size:small;border:1px solid #111;color:#fff;background:#111;padding:0.5px;margin:2px;border-radius:5px;}

#Ritesh_window #viewquestions,#Ritesh_window #viewquestions1,#Ritesh_window #viewquestions2{align-content:center;align-items:center;margin:auto !important;width:80% !important;}
#Ritesh_window #user-result-after-submit,#Ritesh_window #final-tabled-result{align-content:center;align-items:center;margin:auto !important;width:80% !important;}
#Ritesh_window #test-wrapper-container{width:100%;height:700px;font-family:Verdana,Arial,sans-serif;}
#Ritesh_window #test-qn-btn-pallete{width:100% !important;text-align: center;justify-content: center;align-items: center;align-content:center;height:auto; padding:0 5px 0 0;margin:10px;}
#Ritesh_window #space-top-pallate{padding-top:60px;}
#Ritesh_window #test-qnboard-btn{margin-top:5px;width:100%;height:80%;position:fixed;}
#Ritesh_window #currentsection{background:#FFEADA;padding:auto;margin-bottom:5px;border:1px solid #bbb;height:auto;overflow:scroll;}
#Ritesh_window #test-qn-container-box {min-height:30%;max-height:50%;margin-top:5px;padding-top:5px;border:none;line-height:30px;height:auto;overflow-y:scroll !important;padding:2px;}
#Ritesh_window #test-ctrl-btn-container-box {
background-color:#ffeada;
color:white;
text-align:center;
padding:2px;   
margin-top:5px;
width:100%;
}




#Ritesh_window .test-btn-clr {
border:1px solid #c8c8c8;
border-radius:2px;
cursor: pointer;
display: inline-block;
font-size: 1em;
font-weight: 400;
height:35px;
line-height:15px;
padding-left: 5px;
padding-right: 5px;
text-align: center;
vertical-align: middle;
white-space: nowrap;
margin-bottom:1px;
margin-top:4px;   
width:100%;
}
#viewquestions #test-question-number{display:inline;line-height:normal;color:#fff;border:none;padding:0 8px 0 8px;border-radius:2px;width:10px;height:15px;background:#ff6600;}
#test-question-number{display:none;line-height:normal;color:#fff;border:none;padding:0 8px 0 8px;border-radius:5px;width:10px;height:15px;background:#ff6600;}
#test-question-number1{line-height:normal;color:#fff;border:none;padding:0 8px 0 8px;border-radius:2px;width:10px;height:15px;background:#ff6600 !important;}

/*desktop*/
#Ritesh_window .test-current-test-section {
-moz-box-shadow: 3px 4px 0px 0px #1564ad;
-webkit-box-shadow: 3px 4px 0px 0px #1564ad;
box-shadow: 3px 4px 0px 0px #1564ad;
background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5));
background:-moz-linear-gradient(top, #79bbff 5%, #378de5 100%);
background:-webkit-linear-gradient(top, #79bbff 5%, #378de5 100%);
background:-o-linear-gradient(top, #79bbff 5%, #378de5 100%);
background:-ms-linear-gradient(top, #79bbff 5%, #378de5 100%);
background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5',GradientType=0);
background-color:#79bbff;
-moz-border-radius:5px;
-webkit-border-radius:5px;
border-radius:5px;
border:1px solid #337bc4;
display:inline-block;
cursor:pointer;
color:#ffffff;
font-family:Arial;
font-size:17px;
font-weight:bold;
padding:2px 25px;
text-decoration:none;
text-shadow:0px 1px 0px #528ecc;
}
#Ritesh_window .test-current-test-section:hover {
background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff));
background:-moz-linear-gradient(top, #378de5 5%, #79bbff 100%);
background:-webkit-linear-gradient(top, #378de5 5%, #79bbff 100%);
background:-o-linear-gradient(top, #378de5 5%, #79bbff 100%);
background:-ms-linear-gradient(top, #378de5 5%, #79bbff 100%);
background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff',GradientType=0);
background-color:#378de5;
}
#Ritesh_window .test-current-test-section:active {
position:relative;
top:1px;
}
#Ritesh_window #test-qnboard-btn{width:100%;}
#Ritesh_window #test-questions{
margin-left:5px;
font-size: 20px;
line-height: normal;
color: black;
display:block;}

#Ritesh_window #opa,#Ritesh_window #opb,#Ritesh_window #opc,#Ritesh_window #opd{margin-left:5px;color:#111;}
#Ritesh_window #opt-holder{font-family:Verdana,Arial,sans-serif;font-size:16px;padding:2px;margin:5px;display:block;border:1px solid #bbb;border-radius:3px;}
#Ritesh_window #opt-holder:hover{background:#ccc;}




#Ritesh_window #test-qn-btn-nv-side,#Ritesh_window #test-qn-btn-nv-side2,#Ritesh_window #test-qn-btn-nv-side3,#Ritesh_window #test-qn-btn-nv-side4,#Ritesh_window #test-qn-btn-nv-side5 {
height:60%;
width:100%;
float:left;
padding:2px;
overflow:auto;
overflowY:auto;
overflowX:hidden;


}




#Ritesh_window #score,#Ritesh_window #tscore{
font-size: 18px;
color:#fff;
font-weight:bold;
}

#Ritesh_window .summary-fieldset ,#Ritesh_window #final-tabled-result{justify-content:center;border-collapse:collapse;}
#Ritesh_window #final-tabled-result{overflow:hidden;border:0.5px solid #ccc !important;box-shadow:0px 0px 0px 1px #111;}
#Ritesh_window #final-tabled-result ,#Ritesh_window #final-tabled-result td{text-align:center !important;border:0.5px solid #ccc !important;box-shadow:0px 0px 0px 1px #111;border-collapse:collapse;}
#Ritesh_window #test-dis{margin:5px 0;padding:5px;color:#fff;text-align:center;width:auto;background:black;}
#Ritesh_window #test-dis,#Ritesh_window #final-tabled-result,#Ritesh_window #test-restartq{}

</style>
<style type="text/css">
@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic);

#Ritesh_window .test-btn-clr {
  background-color:#f5f5f5;
  border:1px solid #dcdcdc;
  color:#666;
  cursor:pointer;
  display:inline-block;
  vertical-align:middle;
  font-size:13px;
  font-weight: bold;
  font-family: 'Lato', Arial, sans-serif;
  text-transform: uppercase;
  height:35px;
  line-height:27px;
  min-width:54px;
  padding:0 8px;
  text-align:center;
  text-decoration:none;
  border-radius:2px;
  background:linear-gradient(top,#f5f5f5,#f1f1f1);
}
 #submit-time-logo{margin:10px;border-radius:50%;height:50px;width:50px;}
.test-submit-by-user, #test-confirm-output {
  padding: 1em;
  margin: 0;
}

/*= Confirm Box */

#Ritesh_window input[type="checkbox"]{display:inline !important;}
#Ritesh_window input[type="radio"]{display:inline !important;}

 #test-confirm-wrapp {
  width: 100%;
  height:120% !important;
  position: fixed;
  top:0%;
  bottom:0%;
  left:0;
  z-index:1000000;
  background: rgba( 0, 0, 0, 0.6 );
  display: none;
  transition: opacity 1s ease-in;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  opacity: 0;
  transform: scale(0.75);
  animation: open-modal 0.001s forwards 0.001s;
  
}


@keyframes open-modal {
 to {
 opacity: 1;
 transform: scale(1);
 }
 }
 
#Ritesh_window  .close-modal {
 display: none;
 }
 
 #test-confirm-box {
  width: 450px;
  background: #fff;
  min-height: 200px;
  position: relative;
  top: 25%;
  left: 35%;
  margin: -100px 0 0 -150px;
  
}

 #test-confirm-buttons {

  width: 100%;
  text-align: center;
  bottom: 0;
  left: 0;
  padding-bottom: 1em;
  margin-top:5px;
}

 #test-confirm-buttons button {
  display: inline-block;
  color: #fff;
  font-size: 1em;
  font-family: 'Lato', Arial, sans-serif;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
  border: 2px solid;
  margin: 0 0.5em;
  padding: 0.6em 0;
  width: 120px;
}

 #confirm-header {
  text-align: center;
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
  margin: 5px 10px 5px 10px;
}

 #confirm-header:after {
  content: ' ';
  display: block;
  width: 1em;
  border-top: 1px solid;
  margin: 0.4em auto;
}
 .uvp-list ul {
  display: inline-block;
  border:none;
  padding: 1rem 2rem;
  margin-top:0;
   margin-bottom:0;
  width:80%;
}

 .uvp-list ul {
  list-style: none;
}

 .uvp-list ul > li {
  clear: left;
  padding: 0.7rem 0;
  color:#111;
}
 
 .uvp-list ul > li:before {
  content: '';
  height: 1.5rem;
  width: 1.5rem;
  display: block;
  float: left;
  margin-left: -1.5rem;
  margin-top:-3px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%:
}

 .uvp-list ul > li:before { 
  margin-right:10px;background:url('https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEiAtKnXE-No48wYSxRgX4vz-T5t285oShvmKIIKFquCx4EiFGInVq7hAIGhvpE3OaaEKuaO3PHKft7u8jJfgPtkBG5s5jA7-DLRTkNGfxqSsu_pp602u0NIEAoYMctr_JDOXcToAZPPVKdTccs7iVYaTfeqgIp-IcB1SIS9BUI6GJ5_OrG5apY_oz3eNQ/s1600/3472620.png');
  font-size:20px;background-size: cover;
  background-position: center;width:17px;height:17px;
  padding: .15rem .15rem .15rem 10px;transform:translateY(3px);
}
 .uvp-list .test-data-title{font-weight:bold;float:left;}
 .uvp-list .test-data-get{float:right;}

@import url('https://fonts.googleapis.com/css2?family=Khand:wght@500&display=swap');
      
#Ritesh_window .test-general1 .english,#Ritesh_window .test-general1 .reasoning,#Ritesh_window .eng-tab3 .enabled,#Ritesh_window .eng-tab4 .enabled,#Ritesh_window .eng-tab5 .enabled,#Ritesh_window .eng-tab6 .enabled{background-color:#389B10;background:#389B10;}
#Ritesh_window .wrapperAlert {
margin:auto;
padding:auto;
box-sizing: border-box;
font-family: 'Khand', sans-serif; 
width:60%;
  height: 200px;
  overflow: hidden;
  border-radius: 10px;
  border: thin solid #ddd;           
}

#Ritesh_window .topHalf {
  width: 100%;
  color: white;
  overflow: hidden;
  height:100px;
  position: relative;
  padding:5px;
  background: rgb(0,0,0);
  background: -webkit-linear-gradient(45deg, #ff6600, #87D4ED);
}

#Ritesh_window .topHalf p {
  margin-top:-2px;
}
#Ritesh_window svg {
  fill: white;
}
#Ritesh_window .topHalf h1 {
margin-top:-20px;
  font-size: 1.50rem;
  color:#fff;
  display: block;
  font-weight: 500;
  letter-spacing: 0.15rem;
  text-shadow: 0 2px rgba(128, 128, 128, 0.6);
}
        
/* Original Author of Bubbles Animation -- https://codepen.io/Lewitje/pen/BNNJjo */
#Ritesh_window .bg-bubbles{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;            
  z-index: 1;
}

#Ritesh_window .bg-bubbles li{
  position: absolute;
  list-style: none;
  display: block;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.15);/* fade(green, 75%);*/
  bottom: -160px;

  -webkit-animation: square 20s infinite;
  animation:         square 20s infinite;

  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
}
#Ritesh_window .bg-bubbles li:nth-child(1){
  left: 10%;
}   
#Ritesh_window .bg-bubbles li:nth-child(2){
  left: 20%;

  width: 80px;
  height: 80px;

  animation-delay: 2s;
  animation-duration: 17s;
}   
#Ritesh_window .bg-bubbles li:nth-child(3){
  left: 25%;
  animation-delay: 4s;
}   
#Ritesh_window .bg-bubbles li:nth-child(4){
  left: 40%;
  width: 60px;
  height: 60px;
animation-duration: 22s;
background-color: rgba(white, 0.3); /* fade(white, 25%); */
}   
#Ritesh_window .bg-bubbles li:nth-child(5){
  left: 70%;
}   
#Ritesh_window .bg-bubbles li:nth-child(6){
  left: 80%;
  width: 120px;
  height: 120px;
animation-delay: 3s;
  background-color: rgba(white, 0.2); /* fade(white, 20%); */
}   
#Ritesh_window .bg-bubbles li:nth-child(7){
  left: 32%;
  width: 160px;
  height: 160px;

  animation-delay: 7s;
}   
#Ritesh_window .bg-bubbles li:nth-child(8){
  left: 55%;
  width: 20px;
  height: 20px;

  animation-delay: 15s;
  animation-duration: 40s;
}   
#Ritesh_window .bg-bubbles li:nth-child(9){
  left: 25%;
  width: 10px;
  height: 10px;

  animation-delay: 2s;
  animation-duration: 40s;
  background-color: rgba(white, 0.3); /*fade(white, 30%);*/
}   
#Ritesh_window .bg-bubbles li:nth-child(10){
  left: 90%;
  width: 160px;
  height: 160px;

  animation-delay: 11s;
}

@-webkit-keyframes square {
  0%   { transform: translateY(0); }
  100% { transform: translateY(-500px) rotate(600deg); }
}
@keyframes square {
  0%   { transform: translateY(0); }
  100% { transform: translateY(-500px) rotate(600deg); }
}

#Ritesh_window .bottomHalf {
  align-items: center;
  padding:5px;
}
#Ritesh_window .bottomHalf p {
  font-weight: 500;
  font-size: 1.05rem;
  margin-bottom:0;
}

#Ritesh_window #alertMO {
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 12px;            
  padding: 10px 18px;            
  background-color: #019871;
  text-shadow: 0 1px rgba(128, 128, 128, 0.75);
}
#Ritesh_window #alertMO:hover {
  background-color: #85ddbf;
}
#Ritesh_window #candidate-imagecontainer #candidate-name {font-size:18px;}
#Ritesh_window .palette button,#button-control-section button,#button-control-section label{
font-size:18px;}
</style>
<!--<style type="text/css">
@media screen and (max-width: 320px) {
  #test-qn-container-box{height:30%;}   
}
@media screen and (max-width: 480px) {
   #test-qn-container-box{height:35%;}  
}
@media screen and (max-width: 600px) {
   #test-qn-container-box{height:45%;}  
}
@media screen and (max-width: 768px) {
   #test-qn-container-box{height:50%;}  
}
@media screen and (max-width: 900px) {
   #test-qn-container-box{height:55%;}
}
*{box-sizing:border-box;}
</style>-->
<style>

@media (max-width:800px) {
#Ritesh_window #candidate-imagecontainer #candidate-name {font-size:14px;}
#Ritesh_window .palette button,#Ritesh_window #button-control-section button,#Ritesh_window #button-control-section label,#Ritesh_window #according_status_button button{
font-size:14px;}

#Ritesh_window #button-control-section label{border:1px solid #111 !important;color:#111;}
#Ritesh_window #viewquestions h3{text-align:left;margin-left:6px;margin-top:-10px;margin-bottom:-5px;line-height:30px;font-size:15px;}
#Ritesh_window .wrapperAlert {margin:auto !important;width:96%;}
#Ritesh_window #currentsection button{padding:auto;border:none !important;margin:4px;}
#Ritesh_window #viewquestions,#Ritesh_window #viewquestions1,#Ritesh_window #viewquestions2{width:96% !important;}
#Ritesh_window #user-result-after-submit,#Ritesh_window #final-tabled-result{align-content:center;align-items:center;margin:auto !important;width:100% !important;}
#Ritesh_window #test-question-number{line-height:normal;color:#fff;border:none;padding:0 8px 0 8px;border-radius:2px;width:10px;height:15px;background:#ff6600;}

#Ritesh_window #test-qn-container-box{
width:95%;
margin:5px;
min-height:30%;
max-height:50%;
border:none;
line-height:30px;
padding:0; 
overflow-y:scroll;       
}
#Ritesh_window #test-top-head {margin-top:4px;border-top:1px solid #111;}

#Ritesh_window #test-ctrl-btn-container-box {
background-color:#ffeada;
color:white;
text-align:center;
padding:0;   
height:;
margin:5px 0;
width:100%;
}

#Ritesh_window #test-qn-btn-pallete{height:auto; padding:0 5px 0 0;width:auto;margin:10px;}
#Ritesh_window #currentsection{background:#FFEADA;padding:auto;margin-bottom:5px;border:none;width:100%;height:25%;overflow-y:scroll !important;}

#Ritesh_window #test-qn-btn-nv-side,#Ritesh_window #test-qn-btn-nv-side2,#Ritesh_window #test-qn-btn-nv-side3{height:auto;width:100%;overflow:auto; display:block;padding:0px;}


#Ritesh_window .palette table{width:90%;}

#Ritesh_window .test-btn-clr {
border:1px solid #c8c8c8;
border-radius:2px;
cursor: pointer;
display: inline-block;
font-size: .6em;
font-weight: 400;
height:25px;
line-height:15px;
padding-left: 5px;
padding-right: 5px;
text-align: center;
vertical-align: middle;
white-space: nowrap;
margin-bottom:1px;
margin-top:2px;   
width:100%;}
#Ritesh_window #test-wrapper-container{font-family:Verdana,Arial,sans-serif;padding:0;border:none;overflow:scroll;}
#Ritesh_window .test-btn-clr.white:hover{background-color: #0c7cd5;border: 1px solid #333;color: #ffffff;}
#Ritesh_window .answeredButton{  
background: url("https://4.bp.blogspot.com/-Sz8u9vSINxg/WpvyyOnAdbI/AAAAAAAAGKY/se5UlXElpZoKD-ov17oE9baLx2p8eYqawCLcBGAs/s1600/questions-sprite.9c687b463bdf.png") no-repeat;
color: #262626;
line-height: 26px;
text-align: center;
font-family: Arial, Helvetica, sans-serif;
font-size: 0.6em;
background-position: -8px -55px;
float: left;
height: 26px;
line-height: 20px;
margin-right: 10px;
width: 29px;
color: #fff;
padding-top: 2px;
}
#Ritesh_window .notVisited{

background: url("https://4.bp.blogspot.com/-Sz8u9vSINxg/WpvyyOnAdbI/AAAAAAAAGKY/se5UlXElpZoKD-ov17oE9baLx2p8eYqawCLcBGAs/s1600/questions-sprite.9c687b463bdf.png") no-repeat;
color: #262626;
line-height: 26px;
text-align: center;
font-family: Arial, Helvetica, sans-serif;
font-size: 0.6em;
background-position: -106px -56px;
float: left;
height: 26px;
line-height: 21px;
margin-right: 10px;
width: 29px;
color: #000;
padding-top: 2px;}
#Ritesh_window .notAnswered {
background: url("https://4.bp.blogspot.com/-Sz8u9vSINxg/WpvyyOnAdbI/AAAAAAAAGKY/se5UlXElpZoKD-ov17oE9baLx2p8eYqawCLcBGAs/s1600/questions-sprite.9c687b463bdf.png") no-repeat;
color: #262626;
line-height: 26px;
text-align: center;
font-family: Arial, Helvetica, sans-serif;
font-size: 0.6em;
background-position: -43px -56px;
float: left;
height: 26px;
line-height:21px;
margin-right: 10px;
width: 29px;
color: #fff;
padding-top: 2px;}
#Ritesh_window .review{
background: url("https://4.bp.blogspot.com/-Sz8u9vSINxg/WpvyyOnAdbI/AAAAAAAAGKY/se5UlXElpZoKD-ov17oE9baLx2p8eYqawCLcBGAs/s1600/questions-sprite.9c687b463bdf.png") no-repeat;
color: #262626;
line-height: 26px;
text-align: center;
font-family: Arial, Helvetica, sans-serif;
font-size: 0.6em;
background-position: -75px -54px;
float: left;
height: 26px;
line-height: 15px;
margin-right: 10px;
width: 28px;
color: #fff;
padding-top: 5px;}
#Ritesh_window .markReview{
background: url("https://4.bp.blogspot.com/-Sz8u9vSINxg/WpvyyOnAdbI/AAAAAAAAGKY/se5UlXElpZoKD-ov17oE9baLx2p8eYqawCLcBGAs/s1600/questions-sprite.9c687b463bdf.png") no-repeat;
color: #262626;
line-height: 26px;
text-align: center;
font-family: Arial, Helvetica, sans-serif;
font-size: 0.6em;
background-position: -172px -55px;
float: left;
height: 26px;
line-height: 15px;
margin-right: 10px;
width: 30px;
color: #fff;
padding-top: 5px;}
}
#Ritesh_window #showctrp {background:}
#Ritesh_window #ans_bookmarked_count{
float:left;}
#Ritesh_window .test-general,#Ritesh_window .test-general1{
height:24px;
width:85px;
font-size:8px;}
#Ritesh_window #candidate-imagecontainer #candidate-name {font-size:14px;transform:translateY(-20px);} 
#Ritesh_window #candidate-imagecontainer {display:block;margin:0;display:inline-block;height:20px:width:100% !important;}
#Ritesh_window #candidate-imagecontainer img{display:none;padding:3px;background:#fff;height:20px;width:20px;border-radius:50%;}
#Ritesh_window #test-questions{
font-size: 16px;
line-height: normal;
color: black;font-family:Verdana,Arial,sans-serif;}
#Ritesh_window #currentsection button{border:none !important;margin:4px;}
</style>
<style type="text/css">
@import url('https://fonts.googleapis.com/css?family=Montserrat');

#Ritesh_window .viewquestions h3{text-align:left;margin-left:6px;padding-top:8px;margin-top:8px;margin-bottom:-5px;line-height:30px;}
#Ritesh_window .viewquestions label{text-align:left;display:block;}
#Ritesh_window .viewquestions label{text-align:left;font-family:Verdana,Arial,sans-serif;font-size:16px;padding:2px;margin:5px;display:block;border:1px solid #bbb;border-radius:3px;}
#Ritesh_window .viewquestions label:hover{background:#ccc;}
#Ritesh_window .viewquestions fieldset,#Ritesh_window .summary-fieldset {font-family:Verdana,Arial,sans-serif;margin: 0;padding: 0;box-sizing: border-box;
width:97%;border-radius:5px;margin-bottom:5px;padding:5px;border:1px solid #bbb;}
#Ritesh_window .viewquestions fieldset .question-legend{line-height:10px;font-size:10px !important;color:#fff;margin-left:10px;border:1px solid black;border-radius:1px;padding:1px 5px !important;font-weight:bold;width:auto;}
#Ritesh_window .viewquestions fieldset .question-legend.not{background:#ccc;}
#Ritesh_window .viewquestions fieldset .question-legend.correct{background:#389B10;}
#Ritesh_window .viewquestions fieldset .question-legend.wrong{background:#ff0000;}
#Ritesh_window .summary-legend{padding:3px 5px !important;text-align:center;font-size:16px !important;color:#fff;background:#ff6600;border:1px solid black;border-radius:1px;font-weight:bold;width:auto;}

#Ritesh_window .solution-container {
text-align:left;
  background-color: #fff;
  color: #111;
  margin: 1rem 0;
  border-radius: 0.5rem;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.25);
}
#Ritesh_window .test-solution-title {
font-size:1rem;
border-radius:1px;
background-color:#ddd;
color:#111;
  padding:0.2rem 5px;
  min-height:auto;
  line-height: 1.25rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  
}
#Ritesh_window .test-solution-title.active{color:#ff6600 !important;border-top-right-radius:0.5rem;border-top-left-radius:0.5rem;background-color:#fff;}
#Ritesh_window .test-solution-title::after {
  content: "\002B";
  font-size: 1.5rem;
  position: absolute;
  right: 1rem;
}
#Ritesh_window .test-solution-title.active::after {
  content: "\2212";
}
#Ritesh_window .solution-answer-container {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
#Ritesh_window .test-answer-p {
  padding: 1rem;
  line-height: 1.5rem;
  border-top: 1.5px solid;
  border-image: linear-gradient(to right, transparent, #ff6600, transparent) 1;
}
#Ritesh_window  #queims,#qnproperties{width:300px;}
#Ritesh_window img[src=""]{display:none;}

</style>
<style type="text/css">
body, html {
  margin: 0;
  font-family: arial;
  height: 100vh;
}

*, *:before, *:after {
  box-sizing: border-box;
}

.nav-mobile {
  background:#FFE9DB !important;
  color: #FFF;
  padding: 0;
  margin: 0;
  cursor: auto;
  font-size: 18px;
  list-style-type: none;
  box-shadow: 0 5px 5px -5px #333;
}
.nav-mobile:after {
  content: "";
  display: table;
  clear: both;
}

.nav-mobile li {
  width: 100%;
  height: 45px;
  line-height: 46px;
  text-align: center;
  float: left;
}
.nav-mobile li a {
  display: block;
  color: #333;
  width: 100%;
  height: 100%;
  text-decoration: none;
}
.nav-mobile .menu-button {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  cursor: pointer;
  display: block;
}
.nav-mobile .menu-button:after {
  opacity: 0;
  top:0.01px;
  content: "";
  width:100%;
  display: block;
  position: fixed;
  height:100%;
  background: rgba(0, 0, 0, 0.5);
  content: "";
  pointer-events: none;
  transition: opacity 0.2s cubic-bezier(0, 0, 0.3, 1);
  transition-delay: 0.1s;
}
.nav-mobile #menu-toggle {
  display: none;
}
.nav-mobile #menu-toggle.active ~ .menu-button .icon-close, .nav-mobile #menu-toggle:checked ~ .menu-button .icon-close {
  display: block;
}
.nav-mobile #menu-toggle.active ~ .menu-button .icon-open, .nav-mobile #menu-toggle:checked ~ .menu-button .icon-open {
  display: none;
}
.nav-mobile #menu-toggle.active ~ .menu-button:after, .nav-mobile #menu-toggle:checked ~ .menu-button:after {
  opacity: 1;
  pointer-events: auto;
  transition: opacity 0.3s cubic-bezier(0, 0, 0.3, 1);
}
.nav-mobile #menu-toggle.active ~ .menu-sidebar, .nav-mobile #menu-toggle:checked ~ .menu-sidebar {
  transform: translate(0,-60px);
  transition: transform 0.3s cubic-bezier(0, 0, 0.3, 1);
}
.nav-mobile .menu-container {
  width: 65px;
  float: left;
  cursor: pointer;
  position: absolute;
}
.nav-mobile .menu-container .menu-sidebar {
  box-shadow: 5px 0 5px -5px #333;
  display: block;
  width: 80%;
  left:0;
  top:0%;
  height:calc(100% + 70px);
  bottom: 0;
  background:#FFEADA;
  color: #333;
  position: fixed;
  transform: translate(-405px , -60px);
  transition: transform 0.3s cubic-bezier(0, 0, 0.3, 1);
  top:0.01px;
  z-index: 2;
  list-style-type: none;
  padding:0 15px 5px 0;
  max-width: 400px;
  overflow-y:scroll;
}
.nav-mobile .menu-container .menu-sidebar .arrow {
  position: absolute;
  line-height: 50px;
  font-size: 32px;
  color: #555;
  top: 0;
  z-index: 0;
}
.nav-mobile .menu-container .menu-sidebar .arrow.left {
  left: 25px;
}
.nav-mobile .menu-container .menu-sidebar .arrow.right {
  right: 25px;
}
.nav-mobile .menu-container .menu-sidebar li {
  height: 55px;
  line-height: 55px;
  font-size: 16px;
  text-align: left;
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-left: 20px;
}
.nav-mobile .menu-container .menu-sidebar li:hover {
  background: #eee;
}
.nav-mobile .menu-container .menu-sidebar li .menu-sub {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 0;
  overflow: hidden;
  background: white;
  visibility: hidden;
  transition: all 0.3s cubic-bezier(0, 0, 0.3, 1);
  border-left: 1px solid #ccc;
  list-style-type: none;
  padding: 0;
  margin: 0;
  z-index: 2;
  max-width: 400px;
}
.nav-mobile .menu-container .menu-sidebar li .menu-sub li {
  overflow: hidden;
}
.nav-mobile .menu-container .menu-sidebar li .menu-sub .menu-sub-title {
  padding-left: 50px;
}
.nav-mobile .menu-container .menu-sidebar li .submenu-label {
  cursor: pointer;
  width: 100%;
  height: 100%;
  display: block;
}
.nav-mobile .menu-container .menu-sidebar li .submenu-toggle {
  display: none;
}
.nav-mobile .menu-container .menu-sidebar li .submenu-toggle.active ~ .menu-sub, .nav-mobile .menu-container .menu-sidebar li .submenu-toggle:checked ~ .menu-sub {
  width: 65%;
  visibility: visible;
  z-index: 1;
  transition: width 0.35s cubic-bezier(0, 0, 0.3, 1);
}
#Ritesh_window{width:100%;}
#Ritesh_window a{color:#ff6600 !important;text-decoration:none;}
#Ritesh_window .w3-radio {margin-right:3px;}
#Ritesh_window .w3-radio {margin-left:5px;}
#Ritesh_window .ans-txt,#Ritesh_window .view_answerst  {padding:5px;}
#Ritesh_window .separator{cursor:pointer;pointer-events:none;}
table, th, td {
border: 1px solid #ccc;
}
</style>